

/* Nav Bar area */

.navbar-brand{
    font-size: 30px;
}

.navbar {
    font-family: "raleway";
}

.navbar a:hover {
    text-shadow: 0 5px 15px #afe0f5;
    transition: 0.4s;
}

.nav-item{
    margin: 30px 20px;
}

/* Title Area */

.title-area{
    margin: 100px 0;
}



.title-heading{
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    font-size: 80px;
    font-family: "tilt warp";
}

.title-area p {
    font-family: "raleway";
    font-size: 20px;
    text-align: right;
    margin-bottom: 30px;
}

.title-content{
    text-align: right;
}